<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Fast API server for iOS and Android mobile applications"/>
        <meta name="robots" content="index, follow"/>
        <title>Stabule API</title>
        <!-- Latest Bootstrap compiled and minified -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/assets/css/grave.css">
        <link rel="shortcut icon" href="/favicon.png" type="image/png"/>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="https://bitbucket.org/r00m/grave">Download</a></li>
                  <li><a href="https://twitter.com/r00m">Contact</a></li>
                </ul>
                <h3 class="text-muted">Stabule.lv API</h3>
            </div>

            <div class="jumbotron">
                <h1>Welcome to Grave</h1>
                <p class="lead">Grave is a "Mass REST API" provider. Mass rest, get it?</p>
                <p><a class="btn btn-lg btn-success" href="https://bitbucket.org/r00m/grave" role="button">Get GRAVE</a></p>
                <span class="text-muted">Currently v0.1</span>
            </div>

            <div class="row marketing">
                <div class="col-lg-6">
                    <h4>What's included</h4>
                    <p>Grave is a mix of <a href="http://www.slimframework.com/">Slim</a>, <a href="http://twig.sensiolabs.org/">Twig</a>, and <a href="http://www.phpactiverecord.org/">PHPActiveRecord</a> using Facade pattern. Yes, you read that right - simplifies already simple things.</p>

                    <h4>Why should I use it?</h4>
                    <p>If you develop mobile apps, Grave is a <strong>must</strong>! Grave enables you to deploy your API in 60 seconds. All of them. In one place. One base URI. One love &lt;3</p>
                </div>

                <div class="col-lg-6">
                    <h4>What it does</h4>
                    <p>Grave provides access to multiple APIs (and their assets) from a single base url. APIs are uniquely identified by APP_ID + AUTH_TOKEN.</p>

                    <h4>Great. Show me examples!</h4>
                    <p>For examples head over to <a href="https://bitbucket.org/r00m/grave">Grave's repo</a> at Bitbucket. If you're still hungry for more, you can checkout Slim's <a href="http://docs.slimframework.com/#Hello-World">route mapping</a> and PHPActiveRecord's <a href="http://www.phpactiverecord.org/projects/main/wiki/Basic_CRUD">data access</a>.</p>
                </div>
            </div>

            <div class="footer">
              <p>&copy; Stabule.lv 2014</p>
            </div>

        </div> <!-- /container -->
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
